.contact-info {
    padding: 0 20px;
    max-width: 500px;
    .group-wrap {
        padding: 10px 0;
        color: $main-color;
        .title {
            padding: 0 10px;
            margin-bottom: 13px;
        }
    }
    .field-wrap {
        position: relative;
        display: flex;
        &:hover:after {
            color: rgba(91, 139, 255, 0.7);
        }
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            content: '\f040';
            font-family: FontAwesome;
            color: rgba(91, 139, 255, 0.3);
            transition: 0.3s;
        }
        &.non-edit {
            &:after {
                content: '';
            }
            .value:hover {
                cursor: default;
                color: inherit;
            }
        }
        >* {
            display: block;
        }
        .label,
        input,
        .value {
            display: inline-block;
            height: 25px;
            margin-bottom: 10px;
            padding: 0 10px;
            background: $white;
            font-size: 16px;
            line-height: 25px;
            color: $text-color;
        }
        input {
            display: none;
            flex-grow: 1;
            width: 20px;
            &.show {
                display: inline-block;
                border-bottom: 3px solid $main-color;
            }
        }
        .label {
            position: relative;
            width: 120px;
        }
        .value {
            position: relative;
            padding-right: 35px;
            border-bottom: 1px solid $main-color;
            flex-grow: 1;
            &.hide {
                display: none;
            }
            &:hover {
                cursor: pointer;
                color: $main-color;
            }
        }
    }
}

.email-signature {
    padding: 0 20px;
    .signature-textarea {
        border-radius: 3px;
        display: block;
        max-width: 500px;
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
}