.admin-page {
  .create-user {
    padding: 0 20px;
  }
  .create-user-form {
    width: 400px;
  }
  .select-role {
    width: 300px;
    margin-bottom: 20px;
  }
  .Select-control {
    border-color: $main-color;
  }
  .Select-arrow {
    border-color: $main-color transparent transparent;
  }
}