.company-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  border-left: 1px solid rgba(221, 221, 221, 0.6);
  display: flex;
  .company-list {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    flex: 1;
    table {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 0px;
    }
    tbody {
      overflow-y: auto;
      overflow-x: hidden;
    }
    tr {
      display: flex;
    }
    td {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .company-overview {
    min-width: 350px;
    max-width: 350px;
  }
  .focused {
    background: rgba(91, 139, 255, 0.3) !important;
  }
  .header-panel {
    order: 0;
    padding: 25px 30px 20px;
    text-transform: uppercase;
    font-size: 32px;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      background: linear-gradient(to right, $main-color, rgba($main-color, 0.1));
      width: 100%;
    }
  }
}