.header-wrap {
  order: 0;
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid $main-color;
  transition: 0.3s;
  background: $white;
  z-index: 20;
  &.hide {
    transform: translateY(-100%);
  }
  .header {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .user-info {
    min-width: 200px;
    display: flex;
    padding: 10px;
    align-items: center;
    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      overflow: hidden;
      >img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .username {
      flex-grow: 1;
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0 10px;
      color: $main-color;
    }
    .logout-btn {
      border: none;
      display: block;
      height: 30px;
      width: 30px;
      font-size: 20px;
      text-align: center;
      transition: 0.3s;
      color: rgba(18, 18, 18, 0.2);
      &:hover {
        cursor: pointer;
        color: $main-color;
      }
      &:before {
        content: '\f08b';
        font-family: FontAwesome;
      }
    }
  }
}