#dialer {
  z-index: 1000;
  font-family: Helvetica, sans-serif;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  background-color: rgba(91,139,255,0.1);

  > textarea:hover,
  > input:hover,
  > textarea:active,
  > input:active,
  > textarea:focus,
  > button:focus,
  > button:active,
  > button:hover,
  > label:focus,
  .btn:active,
  .btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
  }

  .dropdown-menu li a {
    padding: 3px 10px;
  }

  .btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
  }

  .keys {
    text-align: center;
    color: #fff;
    padding: 10px;

    .key-row {

      .btn {
        font-weight: 100;
        margin: 5px;
      }

      .btn span {
        display: block;
        padding-top: 2px;
        font-size: 10px;
        color: #787878;
      }
    }
  }

  .log {
    clear: both;
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #787878;
  }

  p {
    font-size: 10px;
    color: #787878;
    font-style: italic;
    margin-top: 10px;
  }

}