@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "var.styl";

*
  margin 0
  padding 0
  box-sizing border-box


ul
  list-style none

a
  text-decoration none

button, input
  border none
  background transparent
  &:active,
  &:focus
    outline none

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

img
  vertical-align middle
html
  font-family 'Source Sans Pro', sans-serif
  font-size 16px
  text-rendering optimizeSpeed
  color #555

body
  font-size 16px

// message styles
div.error-msg
  text-align center

.page-loader
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  display block
  z-index 100
  background url("icons/loader.gif") no-repeat center alpha($white,.5)

.app
  display flex
  flex-direction column
  position relative
  min-height 100vh
  width 100%
  overflow-X hidden
  padding-top $header-height
  background alpha($main-color, .5)

  .page-content
    order 1
    flex 1 1 0%
    transition .3s
    position absolute
    left 0
    right 0
    top $header-height
    bottom 0

    &.active-aside
      left $aside-width

.page-container
  padding 30px 0
  display flex

  .main-content
    flex-grow 1
    padding 0 20px
    transition .3s
    margin 0 auto

  .page-title
    padding 25px 30px 20px
    text-transform uppercase
    font-size 32px
    position relative
    margin 0
    background $main-color
    color #fff
    font-weight 900

  .tab-container
    background $white
    min-height 500px

  .tab-controls
    padding 0px 30px 20px

    ul
      display flex
      overflow hidden
      flex-wrap wrap
      margin 0 -10px

    li
      height 40px
      line-height 40px
      font-size 18px
      padding 0 12px
      margin 0 10px
      position relative
      overflow hidden

      &.active
        &:after
          bottom 0

      &:after
        content ''
        display block
        position absolute
        background $main-color
        height 4px
        bottom -4px
        left 0
        width 100%
        transition .3s

      &:hover
        cursor pointer
        background alpha($text-color, .1)

        &:after
          bottom 0

  .tab-content
    padding 20px 10px

  .right-sidebar
    background #fff
    width 300px
    flex-shrink 0
    padding 0 15px

    .title
      text-transform uppercase
      padding 20px 0
      font-size 24px
      position relative
      border-bottom 5px solid $main-color

.flex-container
  display flex

.btnn
  display inline-block
  padding 0 20px
  min-width 80px
  border-radius 4px
  text-align center
  height 35px
  line-height 35px
  border 1px solid $white
  background transparent
  color inherit
  margin-right 10px
  transition background .3s

  &:last-of-type
    margin-bottom 0
    margin-right 0

  &.primary-btn
    background $main-color
    color $white

    &:hover
      background alpha($main-color, .7)

  &.default-btn
    background $grey
    color $white

    &:hover
      background alpha($grey, .7)

.default-form
  max-width 450px
  width 100%

  .form-group
    background alpha($main-color, .05)
    border 1px dotted $main-color
    border-radius 5px


  .legend
    padding 10px 0

  .top-10
    margin-top 10px
  .top-20
    margin-top 20px
  .bottom-10
    margin-bottom 10px
  .bottom-20
    margin-bottom 20px

  &.flex-form
    max-width 100%
    display flex
    flex-wrap wrap

    > div
      width 50%
      padding 0 10px
      transition .3s

    .full-width
      width 100%

    @media(max-width 850px)
      > div
        width 100%

  .submit-wrap
    padding-top 20px
    display flex
    justify-content flex-end

  .select-wrap
    margin-bottom 10px

  .title
    margin-bottom 10px

  .label
    display block
    margin-bottom 10px
    color #23223

  .field-wrap
    margin-bottom 10px

    input
      display block
      width 100%
      height 35px
      line-height 35px
      font-size 20px
    
    textarea
      width 100%

  .label
    margin-bottom 10px
    height 20px

  input[type="file"]
    display none

  .attached-file
    height auto
    padding 20px 15px 20px 45px
    position relative
    color $main-color
    word-wrap break-word

    &:after
      content '\f0c6'
      font-family FontAwesome
      position absolute
      transform translateY(-50%)
      top 50%
      left 15px
      font-size 25px


  input
    border-bottom 3px solid $main-color
    padding 0 15px

  .file-label
    display block
    padding 25px 15px
    height auto
    background alpha($main-color,.2)
    position relative
    transition .3s

    &:hover
      cursor pointer
      background alpha($main-color,.9)

      &:after
        color $white

    &:after
      content '\f093'
      font-family FontAwesome
      position absolute
      transform translate(-50%,-50%)
      transition .3s
      top 50%
      left 50%
      font-size 25px
      color $main-color

.data-table
  width 100%
  margin-bottom 15px

  tr
    height 25px
    &:nth-child(odd)
      background alpha($main-color, .1)
    &:nth-child(even)
      background alpha($grey, .1)


  td
    padding 0 10px
    &:first-of-type
      width 250px
      text-align right

  &.large
    tr
      height 50px

.toolbar-panel {
  border-bottom 1px solid $border-color-divider
  padding 10px 5px
  display flex
  flex-direction row
}

.content-panel {
  order 1
  flex 1
  display flex
  flex-direction row
  padding 10
}

.thumbnail-view {
  padding: 10px;
  text-align: center;

  .picture {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #985f0d;
    margin: auto;
  }

  .title {
    font-size: 14px;
    font-weight:bold;
    padding: 20px;
    word-wrap: break-word;
  }
  .info {
    text-align: center;

    label {
      color: darkgray;
      font-size: 13px;
      font-weight: normal;
      margin-right: 10px;
    }

    span {
      font-size: 13px;
      font-weight: normal;
      word-wrap: break-word;
    }
  }
}
