@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "var.styl";

*
  margin 0
  padding 0
  box-sizing border-box


ul
  list-style none

a
  text-decoration none

button, input
  border none
  background transparent
  &:active,
  &:focus
    outline none

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
html
  font-family 'Source Sans Pro', sans-serif
  font-size 16px
  text-rendering optimizeSpeed
  color #555

body
  font-size 16px
.app
  min-height 100vh
  width 100%
  overflow hidden
  padding-top $header-height
  background linear-gradient(to bottom, $main-color, alpha($main-color, .2))

  .page-content
    transition .3s
    padding-left 40px
    &.active-aside
      padding-left $aside-width

.page-container
  padding 30px 0
  display flex

  .main-content
    flex-grow 1
    padding 0 20px
    transition .3s
    margin 0 auto

  .page-title
    padding 25px 30px 20px
    text-transform uppercase
    font-size 32px
    position relative
    display inline-block

    &:after
      content ''
      display block
      position absolute
      bottom 0
      left 0
      height 5px
      background linear-gradient(to right, $main-color, alpha($main-color, .1))
      width 100%


  .tab-container
    background $white
    min-height 500px

  .tab-controls
    padding 0px 30px 20px

    ul
      display flex
      overflow hidden
      flex-wrap wrap
      margin 0 -10px

    li
      height 40px
      line-height 40px
      font-size 18px
      padding 0 12px
      margin 0 10px
      position relative
      overflow hidden

      &.active
        &:after
          bottom 0

      &:after
        content ''
        display block
        position absolute
        background $main-color
        height 4px
        bottom -4px
        left 0
        width 100%
        transition .3s

      &:hover
        cursor pointer
        background alpha($text-color, .1)

        &:after
          bottom 0

  .tab-content
    padding 20px 10px

  .right-sidebar
    background #fff
    width 300px
    flex-shrink 0
    padding 0 15px

    .title
      text-transform uppercase
      padding 20px 0
      font-size 24px
      position relative

      &:after
        height 5px
        content ''
        display block
        width 100%
        position absolute
        bottom 0
        left -15px
        background linear-gradient(to right,$main-color, transparent)

.btn
  display inline-block
  padding 0 10px
  min-width 80px
  border-radius 4px
  text-align center
  height 30px
  line-height 30px
  border 1px solid $white
  background transparent
  color inherit
  margin-right 10px

  &:last-of-type
    margin-bottom 0

  &.primary-btn
    background $main-color
    color $white

    &:hover
      background alpha($main-color, .7)

  &.default-btn
    background $grey
    color $white