.projects-page
  margin 0 auto
  max-width 1200px
  padding 20px 15px 0
  background $white

  .controls-panel
    border-bottom 1px solid $grey
    border-top 1px solid $grey
    padding 10px 0
    margin-bottom 20px

    ul
      display flex

    .control-item
      height 35px
      padding 0 20px
      line-height 33px
      border-top 1px solid $main-color
      border-bottom 1px solid $main-color
      border-right 1px solid $main-color
      font-size 14px
      color $main-color

      &:hover
        cursor pointer
        background alpha($grey, .2)

      &:first-of-type
        border-left 1px solid $main-color
        border-radius 3px 0 0 3px
        padding-left 21px

      &:last-of-type
        border-radius 0 3px 3px 0


      &.non-active
        border-color $grey
        color $grey

  .project-list
    padding 0 0 30px

  .project-item
    padding 20px 10px
    border 1px solid $grey
    display flex

    &:hover
      cursor pointer
      box-shadow 0 3px 5px 0 rgba(0,0,0,0.3)

    .left-part
      width 300px
      flex-shrink 0

    .right-part
      flex-grow 1

  
  .tab-container
    background $white
    min-height 500px

  .tab-controls
    padding 0px 30px 20px

    ul
      display flex
      overflow hidden
      flex-wrap wrap
      margin 0 -10px

    li
      height 40px
      line-height 40px
      font-size 18px
      padding 0 12px
      margin 0 10px
      position relative
      overflow hidden

      &.active
        &:after
          bottom 0

      &:after
        content ''
        display block
        position absolute
        background $main-color
        height 4px
        bottom -4px
        left 0
        width 100%
        transition .3s

      &:hover
        cursor pointer
        background alpha($text-color, .1)

        &:after
          bottom 0

  .tab-content
    padding 20px 30px







