@import "var.styl";

.single-project

  .activity
    padding 0 20px

    .text-area-wrap
      position relative

      input[type="file"]
        display none

    .user-info
      position absolute
      left 10px
      top 10px
      overflow hidden
      width 30px
      height 30px

      > img
        display block
        width 100%
        height auto

    textarea
      display block
      width 100%
      padding 20px 50px 30px 50px
      border 1px solid $grey
      border-radius 3px
      font-family inherit

      &:focus
        outline none
        box-shadow inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);

    .add-doc-controls
      position absolute
      top 10px
      right 10px
      display block
      width 20px
      height 20px
      text-align center
      line-height 20px
      font-size 18px

      &:hover
        cursor pointer

        &:before
          color $main-color

      &:before
        content '\f0c6'
        font-family FontAwesome
        color $text-color
        transition .3s

    .attached-list
      display flex
      flex-direction column
      align-items flex-start

    .attached-files
      border-radius 3px
      border $grey
      font-size 12px
      color $main-color

      &:hover
        cursor pointer
        text-decoration line-through

      &:before
        content '\f0c6'
        font-family Fontawesome
        padding-right 10px
        color $main-color

  .msg-controls
    padding 20px 0 15px

  .send-msg
    background $main-color
    color $white

    &:hover
      background alpha($main-color, .7)

  .right-sidebar
    overflow hidden

    .title
      position relative
      z-index 5
      background $white

    .header-control
      position relative

      .add-user-btn
        position absolute
        width 30px
        height 30px
        color $main-color
        font-size 25px
        line-height 30px
        text-align center
        display block
        top 50%
        transform translateY(-50%)
        right 0
        z-index 5

        &:after
          content '\f067'
          font-family FontAwesome

        &:hover
          cursor pointer

      .add-user-form
        position absolute
        width 100%
        padding 25px 0 25px
        transition .3s
        bottom 0
        left 0
        background $white
        border-bottom 5px solid $main-color

        &.active
          transform translateY(100%)

      .select-wrap
        padding 0 0 15px

        .members-select
          margin-bottom 15px

        .label
          display block
          margin-bottom 10px
          font-size 16px


    .project-members
      padding 10px 0 0

    .user-list
      padding 10px 0
      transition .3s

      &:hover
        cursor pointer
        color $main-color

      .username
        font-size 16px
        text-transform capitalize

      .email
        font-size 12px
        &:before
          content '('
        &:after
          content ')'

.project-quotes-tab
  padding 0 20px

  .single-quota
    border-radius 3px
    border 1px solid $grey
    margin-bottom 15px
    background $white
    padding 10px 15px
    overflow hidden
    position relative
    transition box-shadow .3s

    &:hover
      cursor pointer
      box-shadow 0 3px 5px 0 alpha($main-color, .3)
      &:after
        transform rotate(35deg) scale(1.1)

    &:after
      content '\f1c1'
      font-family FontAwesome
      font-size 70px
      position absolute
      width 100px
      height 100px
      top 0
      right 20%
      transition transform .3s
      transform rotate(35deg)
      color alpha($main-color, .2)

    .desc-part
      flex-grow 1

    .control-part
      flex-shrink 0

    .quote-revision
      display none

    .revision-list
      padding-left 20px
      position relative
      overflow hidden

      &:before
        content ''
        position absolute
        display block
        width 5px
        border-radius 3px
        height 100%
        left 0
        top -20px
        background $main-color

    .revision-item
      position relative
      padding 10px

      &:before,
      &:after
        content ''
        position absolute
        display block
        background $main-color
        top 50%
        transform translateY(-50%)
      &:before
        height 5px
        width 20px
        left -20px
      &:after
        width 8px
        height 8px
        border-radius 50%
        left -4px

.project-inbox-tab,
.details-inbox-tab,
.documents-inbox-tab,
.invoices-inbox-tab
  padding 0 20px

  .add-quote-form
    width 100%
    max-width 450px
