//colors
$main-color = #5b8bff;
$white = #fff;
$text-color = #555;
$grey = #ccc;

$background-primary       =   white;
$background-off-primary   =   #fdfdfd;
$background-secondary     =   #f6f6f6;
$background-tertiary      =   #6d7987;


//height
$header-height = 60px;

//single-project
$aside-width = 200px;

// font-weight
$font-weight-thin       =   200;
$font-weight-blond      =   300;
$font-weight-normal     =   400;
$font-weight-medium     =   500;
$font-weight-semi-bold  =   600;

// font-size
$font-size-base     =   14px;
$font-size-tiny     =   $font-size-base * 0.75; // 10.5px
$font-size-smaller  =   $font-size-base * 0.86; // 12px
$font-size-small    =   $font-size-base * 0.93; // 13px
$font-size          =   $font-size-base;        // 14px
$font-size-large    =   $font-size-base * 1.14; // 16px
$font-size-larger   =   $font-size-base * 1.29; // 18px


// padding
$padding-base-vertical      =   5px;
$padding-base-horizontal    =   12px;

$padding-large-vertical     =   9px;
$padding-large-horizontal   =   16px;

$padding-small-vertical     =   4px;
$padding-small-horizontal   =   10px;
