.massage-list {
  padding: 20px 0;
  position: relative;

  .activity-msg {
    position: relative;
    padding-left: 80px;
    min-height: 50px;
    font-size: 14px;
    margin-bottom: 10px;

    &:hover {
      .controls {
        opacity: 0.8;
      }
    }

    .avatar {
      position: absolute;
      width: 45px;
      height: 45px;
      overflow: hidden;
      top: 10px;
      left: 10px;
      border-radius: 5px;

      > img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .info {
      display: flex;
      padding: 5px 0;
    }

    .author {
      color: $main-color;
    }

    .date {
      padding: 0 10px;
    }

    .text {
      padding: 10px;
      background: rgba($grey, 0.2);
      border-radius: 3px;
    }

    .controls {
      opacity: 0;
      color: #232323;
      font-size: 18px;
      display: flex;
      font-family: Fontawesome;
      flex-grow: 1;
      justify-content: flex-end;
      transition: opacity 0.3s;

      > span {
        width: 40px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        transition: color 0.3s;

        &:hover {
          cursor: pointer;
          color: $main-color;
        }
      }
    }

    .replay {
      &:before {
        content: "\f112";
      }
    }

    .edit {
      &:before {
        content: "\f040";
      }
    }

    .delete {
      &:before {
        content: "\f1f8";
      }
    }

    .btn-update {
      background: $main-color;
      color: $white;

      &:hover {
        background: rgba($main-color, 0.8);
      }
    }

    .btn-cancel {
      background: $grey;
      color: $white;
    }

    .msg-attached-list {
      padding: 10px;
      display: flex;

      .attached-item {
        color: $main-color;
        font-size: 14px;
        height: 25px;
        margin-right: 10px;

        &:last-of-type:after {
          content: "";
        }

        &:after {
          content: ",";
        }

        &:before {
          content: "\f0c6 ";
          font-family: FontAwesome;
          padding-right: 10px;
        }

        span:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      a {
        display: none;
      }
    }
  }

  .event-message {
    background: rgba($main-color, 0.1);
    border-radius: 3px;
    padding: 25px;
    margin-bottom: 10px;
  }
}
