.popup-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($white, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-container {
    padding: 25px 40px;
    position: relative;
    background: #fff;
    max-width: 500px;
    border: 1px solid $main-color;
    border-radius: 3px;
    width: 100%;

    .close-popup {
      position: absolute;
      top: 25px;
      right: 25px;
      display: block;
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;

        &:after,
        &:before {
          background: $main-color;
        }
      }

      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        top: 50%;
        left: 0;
        transition: 0.3s;
        transform-origin: center;
        background: $grey;
      }

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .pop-head {
      text-align: center;
      margin-bottom: 20px;
    }

    .body {
      min-height: 200px;
    }
  }
}
