.opportunities-page,
.leads-page,
.orders-page,
.tickets-page,
.projects-page {
  margin: 0 auto;

  padding: 10px 10px 0 10px;
  background: $white;
  height: 100%;
  td {
    position: relative;
    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-radius: 0;
    }
  }
  .controls-panel {
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    padding: 10px 0;
    margin-bottom: 20px;

    ul {
      display: flex;
    }

    .control-item {
      height: 35px;
      padding: 0 20px;
      line-height: 33px;
      border-top: 1px solid $main-color;
      border-bottom: 1px solid $main-color;
      border-right: 1px solid $main-color;
      font-size: 14px;
      color: $main-color;

      &:hover {
        cursor: pointer;
        background: rgba($grey, 0.2);
      }

      &:first-of-type {
        border-left: 1px solid $main-color;
        border-radius: 3px 0 0 3px;
        padding-left: 21px;
      }

      &:last-of-type {
        border-radius: 0 3px 3px 0;
      }

      &.non-active {
        border-color: $grey;
        color: $grey;
      }
    }
  }

  .bootstrap-select {
    margin-bottom: 10px;
  }

  .project-list {
    padding: 0 0 30px;
  }

  .project-item {
    padding: 20px 30px;
    border: 1px solid $main-color;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 15px;
    transition: 0.3s;
    min-height: 100px;

    .title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 10px;
    }

    .status {
      color: #fff;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
      &.active {
        background: #4dab08;
      }
      &.delivered {
        background: #ffaf2d;
      }
    }

    &.slack-integrate:after {
      content: "\f198";
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      left: 50%;
      color: rgba($main-color, 0.1);
      font-size: 100px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 3px 5px 0 rgba($main-color, 0.5);
    }

    .left-part {
      width: 300px;
      flex-shrink: 0;
    }

    .right-part {
      flex-grow: 1;
    }
  }

  .tab-container {
    background: $white;
    min-height: 500px;
    height: 100%;
  }

  .tab-controls {
    height: 45px;

    ul {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      margin: 0 -10px;
    }

    li {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      padding: 0 12px;
      margin: 0 10px;
      position: relative;
      overflow: hidden;

      &.active {
        &:after {
          bottom: 0;
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        background: $main-color;
        height: 4px;
        bottom: -4px;
        left: 0;
        width: 100%;
        transition: 0.3s;
      }

      &:hover {
        cursor: pointer;
        background: rgba($text-color, 0.1);

        &:after {
          bottom: 0;
        }
      }
    }
  }

  .tab-content {
    height: calc(100% - 45px);

    .content-container {
      height: 100%;

      .toolbar-wrapper {
        height: 44px;
        padding: 5px;
      }

      .list-view-container {
        height: calc(100% - 44px);

        .list-view-toolbar {
          height: 44px;
          display: flex;
        }

        .list-view-content {
          height: calc(100% - 44px);
          overflow-y: auto;

          .th-action {
            min-width: 135px;
          }
        }
      }

      .kanban-view-container {
        height: calc(100% - 44px);
      }
    }
  }
}

.file-tab.default-form {
  max-width: 100%;
  table {
    th {
      padding-left: 20px;
    }
  }
  .attached-folder {
    padding: 0 0 0 50px;
  }
  .attached-file {
    padding: 0 0 0 50px;
  }
}

.edit-link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.task-description {
  border: 0px;
  text-decoration: none;
  border-radius: 0;
  color: #8c8c8c;
  &:hover {
    background-color: #d6dadc;
    text-decoration: none;
    cursor: pointer;
    color: #4d4d4d;
  }
}

.task-component {
  display: inline-block;
  width: 120px;
  text-align: left;
}

.task-name {
  color: black;
}
.sale-title {
  border-bottom: 3px solid #2e6da4;
  margin-top: 7px;
  margin-right: 15px;
}

.sale-modal {
  width: 60vw;
}
