@import "var.styl";

.home-page
  padding 30px 0
  display flex

  &.active-aside
    .control-aside
      transform translateX(0)

    .aside-area
      width $aside-width

  .control-aside
    width $aside-width
    height 100vh
    position fixed
    top 0
    left 0
    transition .3s
    transform translateX(-80%)
    background #fff
    z-index 5
    padding-top $header-height

    .pinnedMod
      display block
      position absolute
      top $header-height + 10px
      right 10px
      color alpha($main-color, .2)
      width 30px
      height 30px
      text-align center
      line-height 20px
      font-size 25px
      transform rotate(45deg)
      transition .3s

      &.on
        transform rotate(0)
        color $main-color

      &:hover
        cursor pointer

      &:before
        content '\f08d'
        font-family FontAwesome

  .aside-area
    width 40px
    transition .3s

  .main-content
    flex-grow 1
    padding 0 20px
    transition .3s

    .chat
      background $white
      min-height 500px




